__pycache__
*.pyc
input_images/
results/
tar_align/
test_sample/
.ipynb_checkpoints/
frs/arcface/model_ir_se50.pth
.vscode/
celeba_256_1k/
celeba_256_1k.zip
ffhq_256_1k/
ffhq_256_1k.zip
ffhq_256_1k_attractive/
celeba_256_1k_attractive/
checkpoints.zip
*.pth
checkpoints/